In [49]:
import pandas as pd

file_path = '../data/raw/Fraudulent2.csv'
df = pd.read_csv(file_path)
print(df.head())
print(df.info())

  transaction_id customer_id kyc_verified  account_age_days  \
0     TXN_200000    CUST_799          Yes              1050
1     TXN_200001    CUST_484          Yes               295
2     TXN_200002    CUST_791          Yes              2083
3     TXN_200003    CUST_664          Yes              2789
4     TXN_200004    CUST_157          Yes               694

   transaction_amount channel            timestamp  is_fraud
0              256369  Mobile  2025-08-12 02:10:24         0
1                6581  Mobile  2025-08-25 01:14:31         0
2                4492  Mobile  2025-08-17 12:12:40         0
3              275413     POS  2025-08-07 06:23:54         0
4               98098     POS  2025-08-20 21:55:54         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      5000 non-null   object
 1   customer_id         5000 non-null   object
 2   kyc_verified        5000 non-null   object
 3   account_age_days    5000 non-null   int64
 4   transaction_amount  5000 non-null   int64
 5   channel             5000 non-null   object
 6   timestamp           5000 non-null   object
 7   is_fraud            5000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 312.6+ KB
None

In [50]:
df.isnull().sum()

transaction_id        0
customer_id           0
kyc_verified          0
account_age_days      0
transaction_amount    0
channel               0
timestamp             0
is_fraud              0
dtype: int64

In [51]:
df.fillna({"kyc_verified": "No"}, inplace=True)
df.dropna(subset=["transaction_amount"], inplace=True)

In [52]:
df.drop_duplicates(subset=['transaction_id'], keep='first', inplace=True)

In [53]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['channel'] = df['channel'].str.title()
df['transaction_amount'] = df['transaction_amount'].astype(float)

In [54]:
df.head()

,transaction_id,customer_id,kyc_verified,account_age_days,transaction_amount,channel,timestamp,is_fraud
0,TXN_200000,CUST_799,Yes,1050,256369.0,Mobile,2025-08-12 02:10:24,0
1,TXN_200001,CUST_484,Yes,295,6581.0,Mobile,2025-08-25 01:14:31,0
2,TXN_200002,CUST_791,Yes,2083,4492.0,Mobile,2025-08-17 12:12:40,0
3,TXN_200003,CUST_664,Yes,2789,275413.0,Pos,2025-08-07 06:23:54,0
4,TXN_200004,CUST_157,Yes,694,98098.0,Pos,2025-08-20 21:55:54,0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      5000 non-null   object
 1   customer_id         5000 non-null   object
 2   kyc_verified        5000 non-null   object
 3   account_age_days    5000 non-null   int64
 4   transaction_amount  5000 non-null   float64
 5   channel             5000 non-null   object
 6   timestamp           5000 non-null   datetime64[ns]
 7   is_fraud            5000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 312.6+ KB

In [56]:
df['hour'] = df['timestamp'].dt.hour
df['day_of_week'] = df['timestamp'].dt.day_name()
df['is_high_value'] = (df['transaction_amount'] > 50000).astype(int)

In [57]:
df.head()

,transaction_id,customer_id,kyc_verified,account_age_days,transaction_amount,channel,timestamp,is_fraud,hour,day_of_week,is_high_value
0,TXN_200000,CUST_799,Yes,1050,256369.0,Mobile,2025-08-12 02:10:24,0,2,Tuesday,1
1,TXN_200001,CUST_484,Yes,295,6581.0,Mobile,2025-08-25 01:14:31,0,1,Monday,0
2,TXN_200002,CUST_791,Yes,2083,4492.0,Mobile,2025-08-17 12:12:40,0,12,Sunday,0
3,TXN_200003,CUST_664,Yes,2789,275413.0,Pos,2025-08-07 06:23:54,0,6,Thursday,1
4,TXN_200004,CUST_157,Yes,694,98098.0,Pos,2025-08-20 21:55:54,0,21,Wednesday,1

In [58]:
df['is_high_value'].value_counts()

is_high_value
0    4118
1     882
Name: count, dtype: int64

In [59]:
df.to_csv('../data/processed/Fraudulent2_processed.csv', index=False)

In [60]:
df1 = pd.read_csv('../data/processed/Fraudulent2_processed.csv', parse_dates=['timestamp'])
df1.head()

,transaction_id,customer_id,kyc_verified,account_age_days,transaction_amount,channel,timestamp,is_fraud,hour,day_of_week,is_high_value
0,TXN_200000,CUST_799,Yes,1050,256369.0,Mobile,2025-08-12 02:10:24,0,2,Tuesday,1
1,TXN_200001,CUST_484,Yes,295,6581.0,Mobile,2025-08-25 01:14:31,0,1,Monday,0
2,TXN_200002,CUST_791,Yes,2083,4492.0,Mobile,2025-08-17 12:12:40,0,12,Sunday,0
3,TXN_200003,CUST_664,Yes,2789,275413.0,Pos,2025-08-07 06:23:54,0,6,Thursday,1
4,TXN_200004,CUST_157,Yes,694,98098.0,Pos,2025-08-20 21:55:54,0,21,Wednesday,1

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transaction_id      5000 non-null   object
 1   customer_id         5000 non-null   object
 2   kyc_verified        5000 non-null   object
 3   account_age_days    5000 non-null   int64
 4   transaction_amount  5000 non-null   float64
 5   channel             5000 non-null   object
 6   timestamp           5000 non-null   datetime64[ns]
 7   is_fraud            5000 non-null   int64
 8   hour                5000 non-null   int64
 9   day_of_week         5000 non-null   object
 10  is_high_value       5000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 429.8+ KB